
{{>head}}

{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Acerca de</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat esse voluptates repellat iure quod error fuga eligendi nihil maiores, ab atque sapiente debitis ut deleniti? Amet adipisci corporis tempora consequuntur!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/sebastianAuthor.png" alt="Imagen autor" class="img-thumbnail">
    </div>
</div>

{{>footer}}